section {
    border: 2px dashed #000099;
    padding: 5px;
    margin: 5px
}

section:before {
    content: "<section>";
    color: #000099;
}

.excode {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

.info {
    border: 1px solid green;
    background-color: #DFD;
    margin: 1em 0;
    padding: 0 0.5em;
}
